doctype html
html(lang="en")
  head
    title Название компании
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://use.fontawesome.com/030eb04ca9.js")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  body
    .container
      .header 
        .logo-deck
          .logo
            a Название компании
          h2 Вывоз мусора
        .he-deck 
          .he-block 
            .icon 
              i.fa.fa-clock-o(aria-hidden="true")
            .he-text Часы работы
              span Без выходных с 10 до 18
          .he-block 
            .icon
              i.fa.fa-phone(aria-hidden="true")
            .he-text Телефон
              span +7 (123) 100 10 10
          .he-block
            .icon
              i.fa.fa-map-marker(aria-hidden="true")
            .he-text Адрес
              span Ул. Московская, д. 1
    .menu
          ul.nav
            li 
              a(href="#") 
                |Главная
            li 
              a(href="#") 
               |Услуги
            li 
              a(href="#") 
               |Отзывы 
            li 
              a(href="#") 
               |Акции
            li 
              a(href="#") 
               |Контакты
               
            li 
              a(href="#") 
               |О компании
    .banner
      .container 
        h1
          |Вывоз мусора
        p
          |Описание акции или другая дополнительная информация
        a.btn(href="#")
          |Подробнее
    .container-top
        .fixed-container
          .card-container 
            .card-item 
              .media
                img(src="", alt="")
              .desc
                h3 
                  |Вывоз строительного мусора
                p 
                  |От 6000 руб.
                a.btn(href="#")
                  |Подробности
            .card-item
              .media
                img(src="", alt="")
              .desc
                h3 
                   |Вывоз мусора из квартиры
                p 
                  |От 4000 руб.
                a.btn(href="#") 
                  |Подробности
            .card-item
              .media
                img(src="", alt="")
              .desc
                h3 
                 |Вывоз бытового мусора
                p 
                 |От 2500 руб.
                a.btn(href="#")
                 |Подробности
            .card-item
              .media
                img(src="", alt="")
              .desc
                h3 
                 |Вывоз промышленных отходов
                p 
                 |От 7000 руб.
                a.btn(href="#")
                 |Подробности 
    .bggrey 
      .container
        .hand_p
          h2 Наши преимущества
            hr
        .hand 
          .blok_icon 
            .icon
              i.fa.fa-handshake-o(aria-hidden="true") 
            h3 Чистота и аккуратность
            p Выполняем работу, максимально стараясь не оставлять после себя пыли, грязи.
          .blok_icon
            .icon
              i.fa.fa-handshake-o(aria-hidden="true") 
            h3 Экологичность
            p Весь вывезенный мусор мы доставляем в специально подготовленные места/утилизируем.
          .blok_icon
            i.fa.fa-handshake-o(aria-hidden="true") 
            h3 Демократичные цены
            p Справедливая стоимость услуг, постоянным клиентам - скидки и акции.
          .blok_icon 
            .icon
              i.fa.fa-handshake-o(aria-hidden="true") 
            h3 Оперативность
            p Приезжаем на место практически сразу и быстро выполняем работу.
    .container 
      .promo
        .head 
          h2 Акции
          p Основным направлением деятельности компании является оказание услуг в сфере … (Укажите направление деятельности Вашей компании). Все работы осуществляются командой профессионалов, имеющих многолетний опыт
          hr
        .block 
          .block_item
            img(src="#", alt="")
            .block_media
              h3
                a(href="#") Вывоз на утилизацию
              p Основным направлением деятельности компании является оказание услуг в сфере … (Укажите направление деятельности Вашей компании). Все работы осуществляются командой профессионалов, имеющих многолетний опыт
              a.btn(href="#") Подробности
          .block_item
            img(src="#", alt="")
            .block_media 
              h3
                a(href="#") 5 газелей по цене 4
              p Основным направлением деятельности компании является оказание услуг в сфере … (Укажите направление деятельности Вашей компании). Все работы осуществляются командой профессионалов, имеющих многолетний опыт
              a.btn(href="#") Подробности
    .ban
      .container 
        .head-block
          h2 О нас в цифрах
            hr
        .block-deck
          .block-item 
            span 10
            p Лет
          .block-item 
            span 500+
            p Клиентов
          .block-item
            span 100
            p  Проектов
          .block-item 
            span 10000
            p Пачек сиг
    .container 
      .description
        h2 О нас
        p Текст о компании – это идеальная возможность для отстройки от конкурентов. Нужно оперировать фактами. Пусть их будет немного, но именно они будут демонстрировать уникальность вашей компании. <br>  Шаблон написания текста о компании: <br> чем занимаемся; что у нас получается лучше всего; примеры наших работ; в чём отличие компании; наша команда в лицах; наша компания в цифрах; что о нас говорят клиенты; какие гарантии мы даём.
        a.btn(href="")  Подробнее
    .bggrey
      .container 
        .bor-block 
          h3 Торопитесь, скидка 15% до конца месяца!
          p Скидка — сумма, на которую снижается продажная цена товара, реализуемого покупателю. Исторически скидки появились и стали использоваться в условиях уличной торговли товарами, когда продавец в результате торга предоставлял скидку тому покупателю, который приобретает больше товаров.
          a.btn(href="") Подробнее
    .container 
      .news 
        h2 Новости
          hr
        .media-block 
          .block_item 
            img(src="#", alt="")
            h3 
              a(href="") Hello World!
            span ?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum culpa dolorem, numquam aliquam voluptatum mollitia reiciendis, consequatur ratione veniam, debitis rerum perspiciatis distinctio corrupti aliquid magni nemo optio accusantium temporibus!
            a.cont(href="") Читать далее...
            hr
          .block_item 
            img(src="#", alt="")
            h3
              a(href="") Hello World!
            span ?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum culpa dolorem, numquam aliquam voluptatum mollitia reiciendis, consequatur ratione veniam, debitis rerum perspiciatis distinctio corrupti aliquid magni nemo optio accusantium temporibus!
            a.cont(href="") Читать далее...
            hr
          .block_item 
            img(src="#", alt="")
            h3
              a(href="") Hello World! 
            span ?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum culpa dolorem, numquam aliquam voluptatum mollitia reiciendis, consequatur ratione veniam, debitis rerum perspiciatis distinctio corrupti aliquid magni nemo optio accusantium temporibus!
            a.cont(href="") Читать далее...
            hr
    .bggrey
      .container 
        .feedback 
          h2 Отзывы
            hr
        .feed_block 
          .block_item 
            .block_image
              img(src="", alt="")
            .block_info 
              p Работаем с данной фирмой уже довольно давно. Никаких нареканий, одни положительные впечатления. Будем продолжать сотрудничество.
              span - Виктория
          .block_item 
            .block_image
              img(src="", alt="")
            .block_info 
              p Сайт понравился. Спасибо менеджерам за творческий подход! Буду рекомендовать всем друзьям и близким.
              span - Вячеслав
          .block_item 
            .block_image
              img(src="", alt="")
            .block_info 
              p Сайт просто супер. Ребята молодцы, делают свою работу на высоком уровне. Товары всегда новые, цены вполне доступные. Часто проводятся скидки, акции, что особо радует :) 
              span - Алексей
