doctype html
html(lang="en")
  head
    title Компания по вывозу
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .container 
     .header  
        .logo
          |Название компании
          br
          .second-logo Вывоз мусора
        ul.header-extras 
          li
            .he-text Часы работы
            span.second-text Пн-Пт 8:00-18:00
          li
            .he-text Адрес
            span.second-text ул. Московская, д. 1
          li 
            .he-text Телефон
            span.second-text +7 (123) 456 78 99
