doctype html
html(lang="en")
  head
    title Название компании
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://use.fontawesome.com/030eb04ca9.js")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  body
    #header
      .container
        #logo 
          #firs-logo
            a(href="#")
            |Название компании 
            #second-logo Вывоз мусора
          .he-text
            |Часы работы
            .secod-text Пн-Пт с 9:00 до 19:00
          .he-text
            |Телефон
            .secod-text +7 (123) 123 12 12
          .he-text
            |Адрес
            .secod-text ул. Московская, д.1 
      .menu
          ul.nav
            li 
              a(href="#") 
                |Главная
            li 
              a(href="#") 
               |Услуги
            li 
              a(href="#") 
               |Отзывы 
            li 
              a(href="#") 
               |Акции
            li 
              a(href="#") 
               |Контакты
               
            li 
              a(href="#") 
               |О компании
    .banner
      .container 
        h1
          |Вывоз мусора
        p
          |Описание акции или другая дополнительная информация
        a.btn(href="#")
          |Подробнее
    .container-top
        .fixed-container
          .card-container 
            .card-item 
              .media
                img(src="", alt="")
              .desc
                h3 
                  |Вывоз строительного мусора
                p 
                  |От 6000 руб.
                a.btn(href="#")
                  |Подробности
            .card-item
              .media
                img(src="", alt="")
              .desc
                h3 
                   |Вывоз мусора из квартиры
                p 
                  |От 4000 руб.
                a.btn(href="#") 
                  |Подробности
            .card-item
              .media
                img(src="", alt="")
              .desc
                h3 
                 |Вывоз бытового мусора
                p 
                 |От 2500 руб.
                a.btn(href="#")
                 |Подробности
            .card-item
              .media
                img(src="", alt="")
              .desc
                h3 
                 |Вывоз промышленных отходов
                p 
                 |От 7000 руб.
                a.btn(href="#")
                 |Подробности 
    .bggrey 
      .container
        .hand_p
          h2 Наши преимущества
            hr
        .hand 
          .blok_icon 
            .icon
              i.fa.fa-handshake-o(aria-hidden="true") 
            h3 Чистота и аккуратность
            p Выполняем работу, максимально стараясь не оставлять после себя пыли, грязи.
          .blok_icon
            .icon
              i.fa.fa-handshake-o(aria-hidden="true") 
            h3 Экологичность
            p Весь вывезенный мусор мы доставляем в специально подготовленные места/утилизируем.
          .blok_icon
            i.fa.fa-handshake-o(aria-hidden="true") 
            h3 Демократичные цены
            p Справедливая стоимость услуг, постоянным клиентам - скидки и акции.
          .blok_icon 
            .icon
              i.fa.fa-handshake-o(aria-hidden="true") 
            h3 Оперативность
            p Приезжаем на место практически сразу и быстро выполняем работу.
    .container 
      .promo
        .head 
          h2 Акции
          p Основным направлением деятельности компании является оказание услуг в сфере … (Укажите направление деятельности Вашей компании). Все работы осуществляются командой профессионалов, имеющих многолетний опыт
          hr
        .block 
          .block_item
            img(src="#", alt="")
            .block_media
              h3
                a(href="#") Вывоз на утилизацию
              p Основным направлением деятельности компании является оказание услуг в сфере … (Укажите направление деятельности Вашей компании). Все работы осуществляются командой профессионалов, имеющих многолетний опыт
              a.btn(href="#") Подробности
          .block_item
            img(src="#", alt="")
            .block_media 
              h3
                a(href="#") 5 газелей по цене 4
              p Основным направлением деятельности компании является оказание услуг в сфере … (Укажите направление деятельности Вашей компании). Все работы осуществляются командой профессионалов, имеющих многолетний опыт
              a.btn(href="#") Подробности