.bg-light.black {
    background-color: rgb(50, 50, 50);

    .container {
        display: flex;
        justify-content: space-between;

        .footer-items {
            max-width: 45%;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        span {
            display: block;
            color: #888;
            font-size: 20px;
            line-height: 35px;
        }
    }
}

.bg-dark-black {
    background-color: rgb(35, 35, 35);

    .container {
        text-align: center;

        h3 {
            font-size: 18px;
            color: #f5f5f5;
            font-weight: normal;
        }

        p {
            font-size: 16px;
            color: #f5f5f5;
        }
    }
}