#header {
    position: relative;
    background-color: #fff;

}

#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#firs-logo {
    font-size: 36px;
}

#second-logo {
    font-size: 20px;
}

.he-text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;

    .secod-text {
        font-size: 16px;
        font-weight: 400;
        color: grey;
    }
}

.menu {
    height: 60px;
    background-color: black;
}