.header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media #{$mobile} {
        flex-direction: column;
    }

    .logo-deck {
        .logo {
            a {
                font-size: 36px;
            }


        }

        h2 {
            font-size: 22px;
            font-weight: normal;
        }
    }

    .he-deck {
        display: flex;
        justify-content: space-between;
        width: 60%;

        @media #{$mobile} {
            display: none;
        }

        .he-block {
            display: flex;

            .icon {
                display: flex;
                align-items: center;
                padding-right: 15px;

                i {
                    font-size: 25px;
                    color: $softGreen;
                }
            }

            .he-text {
                font-size: 16px;
                font-weight: bold;

                span {
                    display: block;
                    font-size: 16px;
                    font-weight: normal;
                    color: #666;
                    padding-top: 3px;
                }
            }
        }
    }
}

.menu {
    height: 60px;
    background-color: $softGreen;
}