.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.679),
            rgba(0, 0, 0, 0.679)), url(/src/images/GazelG.png);
    height: 550px;
    display: block;
    background-size: cover;
    background-position: center center;

    h1 {
        font-size: 48px;
        font-weight: 800;
        color: white;
        margin: 0;
    }

    p {
        font-size: 22px;
        color: white;
        margin-bottom: 40px;
    }

    .btn {
        color: white;
        font-size: 16px;
        border-radius: 4px;
        border-bottom: 2px solid rgb(1, 59, 7);
        background-color: $softGreen;
        padding: 12px 25px 10px;
        transition: 0.2s;
    }

    .btn:hover {
        background-color: rgb(0, 78, 8);
    }

}