.ban {
    background: linear-gradient(rgba(0, 0, 0, 0.679),
            rgba(0, 0, 0, 0.679)), url(/src/images/GazelN.png);
    background-size: cover;
    background-position: center center;
    height: 450px;
}

.container {

    .head-block {
        text-align: center;

        h2 {
            font-size: 36px;
            margin-top: 10px;
            color: white;

            hr {
                margin-top: 30px;
                border: none;
                border-top: 2px solid white;
                max-width: 45px;
                margin-bottom: 45px;
            }
        }
    }

    .block-deck {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;

        .block-item {
            text-align: center;

            span {
                display: block;
                color: white;
                font-size: 40px;
            }

            p {
                color: white;
                font-size: 20px;
            }
        }
    }

}