include ../pug/libs/_libs
include ../pug/libs/_blog-menu
head 
    title Дезинфекция

html(lang='en')
    include ../pug/_head
    body
        include ../pug/_header
        include ../pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Дезинфекция
        .fixed-container.blog
            .blog_menu 
                .menu_items
                    +list('dezinfekciya')
            .blog_content
                img(src="/images/dezinfekciya-bg.png", alt="Дезинфекция")
                h1 Необходимо вывезти мебель с клопами?
                .blog_text
                    p Мы поможем избавиться от этой проблемы! <br> Вывезем мебель с клопами, предоставив Вам специальную машину и грузчиков. Оперативно приедем в любой район Санкт-Петербурга или Ленинградской области. Аккуратно организуем вынос мебели с клопами, а затем отправим её на полигон для сжигания. Очень часто старая мебель является очагом заражения, сперва незаметным, пока колония насекомых не становится больше.
                    p 
                        b Причины могут быть самыми разными:
                    ul 
                        li • Клопы перебрались к вам от соседей;
                        li • Попали на одежду и вещи из другого дома, улицы;
                        li • Через домашних питомцев, после прогулки.
                    p Некоторые пытаются справиться с этой проблемой вручную, но многие из средств, применяемых при этом, действуют только на взрослые особи или на короткое время. При этом личинки насекомых могут остаться в квартире, под обоями, плинтусами или плиткой. И эта война продолжается бесконечно, затрачивая Ваше время, силы и средства. Поэтому нас часто спрашивают – можем ли мы дополнительно провести дезинфекцию от клопов? Мы занимаемся не только вывозом мебели с клопами, но и поможем с обработкой квартиры от паразитов.
                    p 
                        b Что вы получите, заказав дезинфекцию от клопов?
                    p Гарантию полного уничтожения, как насекомых, так и их личинок. Специалист произведёт эффективную очистку специальным средством. Проконсультирует Вас по всем вопросам. И Вы будете уверены, что после вывоза мебели с клопами, эта проблема будет решена окончательно. Просто позвоните нам, и мы с радостью поможем, в любой день недели, когда Вам удобно, вне зависимости от выходных или праздников.
                    p Согласитесь, ведь проще – довериться профессионалам с многолетним опытом работы, чем самостоятельно заниматься выносом мебели из квартиры, погрузкой в автомобиль и переживать о правильной утилизации. Также обратите внимание, что для пенсионеров, у нас предусмотрена скидка 10% на вывоз мебели с клопами, дезинфекцию от насекомых и прочие услуги.
                .blog_text
        include ../pug/_form
        include ../pug/_map
        include ../pug/_footer
        include ../pug/_popup