include ../pug/libs/_libs
include ../pug/libs/_blog-menu
head 
    title Переезд из квартиры или офиса

html(lang='en')
    include ../pug/_head
    body
        include ../pug/_header
        include ../pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Переезд из квартиры или офиса
        .fixed-container.blog
            .blog_menu 
                .menu_items
                    +list('pereezd-iz-kvartiry-ili-ofisa')
            .blog_content
                img(src="/images/pereezd-iz-kvartiry-ili-ofisa.png", alt="Переезд из квартиры или офиса")
                h1 Переезд из квартиры или офиса?
                .blog_text
                    p Это означает, что придётся позаботиться об упаковке, выносе и погрузке вещей. В случае с крупногабаритными сейфами, шкафами, стеллажами, тумбами и оргтехникой, проще заказать газель с грузчиками. Мы готовы помочь Вам, организовав машину для переезда по Санкт-Петербургу и предоставив грузчиков для выноса мебели и техники, а также аккуратной разборке и сборке, при необходимости. Вы можете выбрать удобное для Вас время и в любой день недели, так как мы занимаемся грузоперевозками по Спб и ЛО - ежедневно, без перерывов на праздничные и выходные дни.
                    p  
                        b Вы можете заказать комплексные услуги по грузоперевозкам:
                    ul 
                        li • Доставка и сборка мебели с вывозом старой мебели на утилизацию
                        li • Доставка бытовой или оргтехники с установкой и демонтаж старой с вывозом на утилизацию
                        li • Доставка и установка сейфов, станков, холодильных ларьков, роялей и пианино
                    p С нами, Вам не придётся переживать о том, что груз доставлен лишь до подъезда, а не в квартиру или офис, кто поможет с установкой и куда вывозить старую технику, освобождая место для новой. Мы аккуратно и быстро произведём все работы, оперативно организуем для Вас спецтранспорт и грузчиков, учтём все Ваши пожелания.
                    p 
                        b Вам необходима отгрузка строительного материала?
                    p Для Вас будет организована перевозка металлопроката, цемента, песка и щебня в мешках на поддонах, брус, плитка, кирпич и блоки; ламинат, утеплитель и пр. Кроме этого, наши специалисты готовы помочь Вам с подготовкой к ремонту, осуществив демонтаж и вывоз строительных отходов.
        include ../pug/_form
        include ../pug/_map
        include ../pug/_footer
        include ../pug/_popup