include ../pug/libs/_libs
include ../pug/libs/_blog-menu
head 
    title Вывоз ванн

html(lang='en')
    include ../pug/_head
    body
        include ../pug/_header
        include ../pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Вывоз ванн
        .fixed-container.blog
            .blog_menu 
                .menu_items
                    +list('vyvoz-vann')
            .blog_content
                img(src="/images/vyvoz-vann.png", alt="Вывоз ванн")
                h1 Вывоз ванн
                .blog_text
                    p Во время ремонта или замены старой сантехники, вам может понадобиться вывоз ванны, в таком случае лучше всего обратиться к специалистам. Для аккуратного проведения работ может потребоваться: уборка полок, шкафчиков, стиральной машинки и пр., затрудняющих вынос ванны из помещения.
                    p Затем производится отключение от системы слива и системы защиты от переливания воды. После этого снимают старую ванну с поддерживающих опорных конструкций, которые при необходимости демонтируют, так как в некоторых случаях металлические ножки могут быть залиты в бетонную стяжку.
                    p Также мы можем дополнительно провести демонтаж другой сантехники, плитки, напольного покрытия и двери, если у вас идёт подготовка к капитальному ремонту. При этом, мы отгрузим в машину и заберём весь строительный мусор, как и ванну на утилизацию.
                    p Мы работаем ежедневно, без перерывов на праздники и выходные, поэтому сможем согласовать заказ в удобное для вас время.
                    p 
                        b Просто позвоните нам сейчас или оставьте заявку.
        include ../pug/_form
        include ../pug/_map
        include ../pug/_footer
        include ../pug/_popup