include ../pug/libs/_libs
include ../pug/libs/_blog-menu
head 
    title Вывоз дверей и рам

html(lang='en')
    include ../pug/_head
    body
        include ../pug/_header
        include ../pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Вывоз дверей и рам
        .fixed-container.blog
            .blog_menu 
                .menu_items
                    +list('vyvoz-dverej-i-ram')
            .blog_content
                img(src="/images/vyvoz-dverej-i-ram.png", alt="Вывоз дверей и рам")
                h1 Куда деть старые дверные полотна с коробом и без нее?
                .blog_text
                    p Вы приобрели квартиру или просто решили обновить интерьер? Не знаете, что делать с дверными полотнами и коробом от них? Решение рядом. Мы бесплатно вывезем металлические двери, также поможем с утилизацией деревянных и пластиковых дверей и окон, в соответствии с нормативами и правилами Санкт-Петербурга и Ленинградской области.
                    p Строительный мусор в процессе или после ремонта разнообразный. Зачастую сложности вызывает вынос дверей, оконных рам и других громоздких предметов. К тому же, есть необходимость их утилизировать, а не безответственно оставить возле контейнеров с бытовыми отходами. За пренебрежение таких норм, можно испортить отношение с соседями или вовсе получить штраф.
                    p  
                        b Как правильно вывезти тяжелые двери, большие оконные рамы и стекла?
                    p К счастью в наше время эти хлопоты можно переложить на специализированную организацию. Наша компания имеет лицензию и договор на утилизацию разных видов отходов на оборудованных полигонах, где они будут уничтожены по всем нормам, с минимальным воздействием на экологию. Вы можете обратиться к нам в любой день недели, и заказать вывоз дверей и окон – качественно и быстро.
                    p 
                        b Плюсы нашей работы:
                    ul 
                        li • Работаем без выходных и праздников
                        li • Индивидуальный подход к каждому клиенту
                        li • Приветливый и доброжелательный персонал
                        li • Осуществление вывоза в удобное для вас время
                        li • Аккуратный демонтаж
                        li • Профессиональный вынос и погрузка
                        li • Оборудованный транспорт для перевозки
                        li • Дальнейшая утилизация
                        li • Низкая цена
                    p 
                        b Почему обращаются к нам, чтобы вывезти двери, окна и строительный мусор?
                    p Компания Проф - Утиль занимается вывозом и утилизацией строительного мусора и любых остатков после ремонта. Один звонок – профессионалы в сфере утилизации приедут в удобное для вас время. Качественно и аккуратно демонтируют дверные полотна, вывезут оконные рамы, осторожно вынесут стекла, избавив вас от опасности их раскола.
                    p Осуществив вывоз из квартиры, дома, гаража, дачи, офисов, магазинов. Мы работаем в СПБ и по всей ЛО. Всегда рады помочь на пути к счастливым моментам.
                    p 
                        b Вы сэкономите силы и время, обратившись к нам!
        include ../pug/_form
        include ../pug/_map
        include ../pug/_footer
        include ../pug/_popup