include ../pug/libs/_libs
include ../pug/libs/_blog-menu
head 
    title Вывоз старой мебели

html(lang='en')
    include ../pug/_head
    body
        include ../pug/_header
        include ../pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Вывоз старой мебели
        .fixed-container.blog
            .blog_menu 
                .menu_items
                    +list('vyvoz-staroj-mebeli')
            .blog_content
                img(src="/images/blog_bg.png", alt="Вывоз мебели")
                h1 Необходимо вывезти старую мебель?
                .blog_text
                    p Как правило, сталкиваясь с ремонтом или сменой интерьера, нам приходится встретиться с проблемой вывоза старой мебели. Даже безобидный на первый взгляд сервант, может доставить немыслимое количество хлопот. Ведь для его вывоза необходимо нанять машину, найти и договориться с грузчиками, разобрать плохо поддающиеся от старости крепления, не повредив и не разбив ничего в квартире, вынести. Но на этом приключения не заканчиваются, ведь необходимо еще найти место для вывоза. Ведь выбросить старую мебель на понравившейся свалке не удастся, её необходимо утилизировать специальным образом. В наше время вывезти и утилизировать мебель в Санкт-Петербурге стало значительно проще. Мы работаем в данной сфере более 6 лет, и множество благодарных клиентов обращаются к нам повторно. (стройматериалов, мебели, техники и прочих грузов).
                        b Мы гарантируем Вам:
                    ul 
                        li • Эффективность
                        li • Оперативность
                        li • Аккуратность
                        li • Низкие цены и скидки
                    p 
                        b Как правильно избавиться и вывезти старую мебель?
                    p Старая мебель восстановлению практически не поддается, к тому же это достаточно трудоемко и дорого. Желая сохранить или сэкономить, владельцы оставляют старую мебель в подсобках, отправляют в гараж или на дачу. Там она доживает свою жизнь, но участь у нее одна – утилизация. Компания ПРОФ-УТИЛЬ произведет качественную разборку и вывоз любой старой мебели, отправив её на специальный полигон. У нас собственный автопарк для перевозки и вывоза мебели любого веса и размера, от стульев до всевозможных больших шкафов с многочисленными секциями и антресолями.
                    p 
                        b Быстро, аккуратно, в удобное для Вас время осуществим:
                    ul 
                        li • Вывоз дивана (книжка, угловой)
                        li • Кресла
                        li • Шкафа
                        li • Кухонного гарнитура
                        li • Серванта
                        li • Вывоз кровати
                        li • Прихожей
                        li • Комода
                        li • Также вывозим мебель с клопами
        include ../pug/_form
        include ../pug/_map
        include ../pug/_footer
        include ../pug/_popup