include ../pug/libs/_libs
include ../pug/libs/_blog-menu
head 
    title Вывоз холодильников

html(lang='en')
    include ../pug/_head
    body
        include ../pug/_header
        include ../pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Вывоз холодильников
        .fixed-container.blog
            .blog_menu 
                .menu_items
                    +list('vyvoz-holodilnik')
            .blog_content
                img(src="/images/vyvoz-holodilnik.png", alt="Вывоз холодильников")
                h1 Вывоз холодильников
                .blog_text
                    p Утилизация бытовой техники и электроники происходит на специальных полигонах, поэтому для вывоза старого холодильника на свалку – целесообразно вызвать специальную службу. В таком случае вам не придётся переживать по поводу тяжести и неудобству избавления от крупногабаритной техники.
                    p В зависимости от неисправности, порой надёжнее приобрести новое оборудование в рассрочку, чем заплатить за диагностику и ремонт, без гарантии, что поломка вскоре не повторится.
                    p 
                        b Куда вывезти сломанный холодильник?
                    p Всё очень просто – позвоните нам, у нас для этого есть спецтехника и грузчики. Вынос холодильника будет произведён аккуратно, без повреждения напольного покрытия, мебели и двери.
                    p 
                        b Плюсы нашей работы:
                    ul 
                        li • Работаем без выходных и праздников
                        li • Индивидуальный подход к каждому клиенту
                        li • Приветливый и доброжелательный персонал
                        li • Осуществление вывоза в удобное для вас время
                        li • Аккуратный демонтаж
                        li • Профессиональный вынос и погрузка
                        li • Оборудованный транспорт для перевозки
                        li • Дальнейшая утилизация
                        li • Низкая цена
                    p Кроме утилизации холодильников, также организуем вывоз металлических дверей, батарей и радиаторов, стиральной и посудомоечной машины, газовой плиты, водонагревателя, кондиционеров, швейной машинки, чугунной ванны.
        include ../pug/_form
        include ../pug/_map
        include ../pug/_footer
        include ../pug/_popup