include ../pug/libs/_libs
include ../pug/libs/_blog-menu
head 
    title Вывоз бытовой техники

html(lang='en')
    include ../pug/_head
    body
        include ../pug/_header
        include ../pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Вывоз бытовой техники
        .fixed-container.blog
            .blog_menu 
                .menu_items
                    +list('vyvoz-bytovoj-tekhniki')
            .blog_content
                img(src="/images/vyvoz-bytovoj-tekhniki.png", alt="Вывоз бытовой техники")
                h1 Куда вывезти бытовую технику?
                .blog_text
                    p Этот вопрос часто возникает при избавлении от мелкой и крупной бытовой техники, по причине того, что она устарела и меняется на новую или сломана и ремонтировать её не рентабельно. Если вы решили перевезти в другую квартиру, частный дом, на дачу или в гараж исправную старую технику, мы готовы помочь Вам с перевозом холодильника, стиральной машины, посудомоечной машины, швейной машины, газовой плиты, телевизоров и пр. Так как вывоз из квартиры на ближайшую свалку не приемлем, а для правильной утилизации техники на специальном полигоне требуется разрешение, чаще всего обращаются к нам.
                    p 
                        b Вы освободите помещение от хлама, не задумываясь про:
                    ul 
                        li • Вынос бытовой техники
                        li • Кто будет грузчиками
                        li • Какая нужна машина
                        li • Куда отвезти холодильник на утилизацию
                        li • Сколько это отнимет Вашего времени
                        li • О технологии правильной утилизации техники
                    p Мы профессионально занимаемся подобными работами уже много лет. Многие люди обращаются к нам повторно и советуют своим знакомым, так как у нас предусмотрен бесплатный вывоз холодильника, бесплатный вывоз газовой плиты, бесплатный вывоз стиральной машинки и другой техники на утилизацию! Наши грузчики помогут не только с выносом и вывозом старой бытовой техники, но и при необходимости произведут демонтаж посудомоечной, стиральной машины, газовой плиты, кондиционера.
                    p Вы получите полный комплекс услуг необходимых именно Вам, стоит лишь связаться с нашим менеджером. Заказ будет выполнен аккуратно и в удобное для Вас время. У нас, Вы можете заказать вывоз бытовой техники в Санкт Петербурге или Ленинградской области в любой день недели, вне зависимости от праздников и выходных.
                    p 
                        b Если Вы переживаете о правильной утилизации холодильника, старого телевизора или другой бытовой техники!
                    p Чтобы не портить экологию и не оказаться оштрафованным за вынос бытовой техники на свалку, предназначенную для бытовых отходов, но не рассчитанную для бытовой техники, то мы готовы Вам помочь. Позвоните нам сейчас, и мы оперативно предоставим Вам лучшее решение по вывозу бытовой техники!
        include ../pug/_form
        include ../pug/_map
        include ../pug/_footer
        include ../pug/_popup