include ../pug/libs/_libs
include ../pug/libs/_blog-menu
head 
    title Вывоз металла

html(lang='en')
    include ../pug/_head
    body
        include ../pug/_header
        include ../pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Вывоз металла
        .fixed-container.blog
            .blog_menu 
                .menu_items
                    +list('vyvoz-metalla')
            .blog_content
                img(src="/images/vyvoz-metalla.png", alt="Вывоз металла")
                h1 Вывоз металла
                .blog_text
                    p Старые ржавые металлические конструкции или остатки металла после строительства, ремонтных, производственных работ, помогут вывезти наши сотрудники. Вывоз металлолома, его погрузка и утилизация – осуществляются нашей компанией бесплатно.
                    p Вы можете оформить заказ в СПб и ЛО, в любой удобный для Вас день, так как мы работаем ежедневно, без перерывов и выходных.
                    p  
                        b Сдать лом металла теперь проще
                    p Больше не надо искать пункт приемки, сдать металл с вывозом из квартиры, дома, гаража, дачи, склада, обратившись к нам, очень просто! Вы оставляете заявку, наши специалисты бесплатно организуют все процессы по погрузке и транспортировке металлических отходов на утилизацию. Мы проведём прием и скупку всех разновидностей черного металла любых габаритов:
                    ul 
                        li • Промышленный — оставшийся после окончания производственных процессов на предприятии. Мы так же принимаем любые бракованные или поврежденные изделия.
                        <br>
                        li • Бытовой – бытовая и офисная техника, двери, оконные рамы, сейфы, металлические шкафы, стеллажи, ванны, водонагреватели, трубы, батареи, проволочные изделия.
                        <br>
                        li • Цельнометаллические конструкции, в том числе негабаритные, включая Ж/Д объекты, оборудование и станки, машины, сельхоз техника и пр. транспорт.
                    p Мы помогаем вывезти и утилизировать чермет, цветмет, алюминий, в любом районе Петербурга и области. Вы можете избавиться от лома, ненужной техники, автомобиля, спецтранспорта, позвонив нам или оставив заявку на сайте.
        include ../pug/_form
        include ../pug/_map
        include ../pug/_footer
        include ../pug/_popup