include ../pug/libs/_libs
include ../pug/libs/_blog-menu
head 
    title Вывоз мебели бесплатно

html(lang='en')
    include ../pug/_head
    body
        include ../pug/_header
        include ../pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Вывоз мебели бесплатно
        .fixed-container.blog
            .blog_menu 
                .menu_items
                    +list('vyvoz-mebeli-besplatno')
            .blog_content
                img(src="/images/vyvoz-mebeli-besplatno.png", alt="Вывоз мебели бесплатно")
                h1 Вывоз мебели бесплатно
                .blog_text
                    p В настоящее время действует акция по вывозу мебели бесплатно в Санкт-Петербурге и Ленинградской области. Мы готовы вывести мебель, при условии, что функционально она не повреждена или имеет минимальные повреждения, а также срок её эксплуатации не превышает 5 лет. Для этого Вы можете отправить нашему менеджеру заявку, или позвонить нам и уточнить все вопросы. Вы уже сегодня сможете освободить помещение от ненужной мебели совершенно бесплатно! Наши специалисты приедут и аккуратно произведут все работы по выносу, и вывозу из квартиры, офиса, дома, склада или другого помещения. Также обратите внимание на 10 постоянно действующих бесплатных услуг, которые вы можете у нас заказать.
                    p  
                        b Причина по которой вы решили вывезти мебель и наша помощь Вам
                    p Если вы проводите ремонтно-строительные работы, затеяли переезд или оформили заказ, требующий доставки, то Вам может понадобиться:
                    ul 
                        li • Утилизация лишней мебели из помещений
                        li • Замена мебели на новую
                        li • Переезд в другой офис, квартиру, дом, дачу и пр.
                        li • Списание со склада на утилизацию
                    p Мы готовы в любой день недели без перерывов и выходных, предоставить вам услуги по:
                    ul 
                        li • Демонтажным работам 
                        li • Замена мебели на новую
                        li • Сборке и разборке мебели
                        li • Организовать машину и грузчиков по СПБ и ЛО
                        li • Предоставить пециалистов по уборке и даже дезинфекции
                    p В Санкт-Петербурге и Ленинградской области мы работаем на протяжении 6 лет и многие клиенты обращаются к нам повторно, в таких случаях мы готовы предоставить скидку на вывоз и перевозку. Вы можете обратиться к нам как частное лицо, либо как ИП или ООО, и при необходимости мы заключим с Вами договор и предоставим соответствующие акты на выполненные заказы.
        include ../pug/_form
        include ../pug/_map
        include ../pug/_footer
        include ../pug/_popup