*,
*:after,
*:before {
  //outline: 1px red dashed;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}