.footer
    .bg-footer-top
        .container
            .footer-items
                .foot-item.tel
                    span.footer-text Звоните
                    span.footer-text +7 (911) 140 06 20
                .foot-item.mail
                    span.footer-text E-mail
                    span.footer-text util-prof@mail.ru
                .foot-item.time
                    span.footer-text Часы работы
                    span.footer-text Без выходных с 10 до 18
            .foot-icons
                a(href="")
                    img(src="/images/viber.png")
                a(href="")
                    img(src="/images/whatsapp.svg")
                a(href="")
                    img(src="/images/telegram.svg")
    .bg-footer-bottom
        .container
            h3 УТИЛЬ-ПРОФ © 2022
            p All rights reserved.