.footer
    .bg-footer-bottom
        .container-fix
            .container
                h3 УТИЛЬ-ПРОФ © 2022
                p Все права защищены.
    .bg-footer-top
        .container
            .footer-items
                .foot-item.tel
                    span.footer-text Звоните
                    span.footer-text.none
                        a.none(href="tel:+79111400620") +7 (911) 140 06 20
                .foot-item.mail
                    span.footer-text E-mail
                    span.footer-text
                        a(href="mailto:util-prof@mail.ru") util-prof@mail.ru
                .foot-item.time
                    span.footer-text Часы работы
                    span.footer-text Без выходных с 9 до 21
            .foot-icons
                a(href="https://viber.click/79111400620")
                    img(src="/images/viber.png")
                a(href="https://wa.me/79111400620?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!%20%F0%9F%91%8B")
                    img(src="/images/whatsapp.svg")
                a(href="https://t.me/+79111400620")
                    img(src="/images/telegram.svg")
    