.container
    .header
        .logo-deck
            .logo
                img(src="/images/logo.png", alt="")
                a УТИЛЬ-ПРОФ
            h2 Вывоз мусора
        .he-deck
            .he-block-tablet
                .he-block
                    .icon
                        i.fa.fa-clock-o(aria-hidden="true")
                    .he-text Часы работы
                        span Без выходных с 10 до 18
            .he-block
                .icon
                    i.fa.fa-phone(aria-hidden="true")
                .he-text Телефон
                    span
                        a(href="tel:+79111400620") +7 (911) 140 06 20
            .he-block
                .icon
                    i.fa.fa-map-marker(aria-hidden="true")
                .he-text Адрес
                    span СПБ и область