.map-block
    .container
        .head-block
            h2 Услуги по сбору Мусора
                p предоставляем в Санкт-Петербурге и Ленинградской области
                hr
    #map(style='width: 100%; height: 560px')