nav.navbar
    .nav-container
        ul.nav-links
            input#checkbox_toggle(type='checkbox')
            label.hamburger(for='checkbox_toggle')
                span.hamburger-line
            .menu
                li
                    a(href='/') Главная
                li
                    a(href='/feedback.html') Отзывы
                li
                    a(href='/contacts.html') Контакты
                li
                    a(href='/pricelist.html') Прайс-лист
                li
                    a(href='/blog.html') Блог
                li
                    a(href='/promo.html') Акции
    .logo-burger
        h2
            a(href='/index.html') Вывоз мусора