.container {
  max-width: 1170px;
  width: 100%;
  padding: 38px 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-top {
  padding: 60px 0px;
}

.fixed-container {
  max-width: 1140px;
  margin: 0 auto;
}