include pug/libs/_libs
include pug/libs/_blog-menu
head 
    title Блог

html(lang='en')
    include pug/_head
    body
        include pug/_header
        include pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Блог
        .fixed-container.blog
            .blog_menu 
                .menu_items
                   +list('blog')
            .blog_content
                img(src="/images/blog_bg.png", alt="Вывоз строительного мусора")
                h1 Когда необходим вывоз строительного мусора?
                .blog_text
                    p Вывоз строительного мусора во время проведения ремонтных работ, накапливается много мелких и крупногабаритных отходов. Особенно при перепланировке, замене окон, дверей, сантехники и отопления, выравнивании стен и пола. При этом, использовать контейнеры для бытовых отходов нельзя, а на утилизацию может понадобится специальное разрешение от местных властей. В таком случае обращаются к нам.
                    p 
                        b Наши грузчики быстро и качественно организуют для Вас:
                    ul 
                        li • Сортировку по типу отходов;
                        li • Вынос строительного мусора из квартиры;
                        li • Погрузку в машину;
                        li • Вывоз мусора на специальные полигоны;
                        li • Утилизацию строительного мусора.
                    p У нас собственный автопарк и команда квалифицированных сотрудников, что позволяет оперативно и качественно справляться с заказами любой сложности. Мы работаем без выходных и приедем в удобное для вас время. Организуем вывоз строительного мусора в любом районе Санкт-Петербурга и Ленинградской области. Вы также можете получить дополнительные услуги.
                    p 
                        b Наши профессиональные специалисты готовы организовать для Вас:
                    ul 
                        li • Демонтаж (старая штукатурка, двери и окна, ламинат, плитка, сантехника и мебель);
                        li • Бесплатный вывоз макулатуры и металла;
                        li • Уборку помещений;
                        li • Дезинфекцию от насекомых;
                        li • Доставку (стройматериалов, мебели, техники и прочих грузов).
                    p Если Вы хотите заказать вывоз строительного мусора или дополнительные услуги, просто свяжитесь с нами, и менеджер ответит на все Ваши вопросы. Обратившись к нам, Вы сэкономите Ваше время, средства и силы.
        include pug/_form
        include pug/_map
        include pug/_footer
        include pug/_popup