include pug/libs/_libs
head 
    title Контакты

html(lang='en')
    include pug/_head
    body
        include pug/_header
        include pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Контакты
            .hand_p
                h2 Контакты
                    hr
            .contacts
                h3 Телефон
                p
                    a(href="tel:+79111400620") +7 (911) 140 06 20
                a(href="https://viber.click/79111400620")
                    .viber
                        p.icon_text +7 (911) 140 06 20
                a(href="https://wa.me/79111400620?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!%20%F0%9F%91%8B")
                    .whatsapp 
                        p.icon_text +7 (911) 140 06 20
                a(href="https://t.me/+79111400620")
                    .telegram
                        p.icon_text +7 (911) 140 06 20
                h3 E-mail
                p
                    a(href="mailto:util-prof@mail.ru") util-prof@mail.ru
                h3 Работаем
                p Без выходных с 9:00 до 19:00 
                h3 Адрес
                p Россия, г. Санкт-Петербург и обл.
                //h3 Реквизиты
                //p ООО «УТИЛЬ-ПРОФ» Юридический адрес: г. Санкт-Петербург, ул. Московская, д. 1 ОГРН 5235738257923
        include pug/_form
        include pug/_map
        include pug/_footer
        include pug/_popup