include pug/libs/_libs
head 
    title Контакты

html(lang='en')
    include pug/_head
    body
        .container
            .header 
                .logo-deck
                    .logo
                        a УТИЛЬ-ПРОФ
                    h2 Вывоз мусора
                .he-deck 
                    .he-block-tablet
                        .he-block 
                            .icon 
                                i.fa.fa-clock-o(aria-hidden="true")
                            .he-text Часы работы
                                span Без выходных с 10 до 18
                    .he-block 
                        .icon
                            i.fa.fa-phone(aria-hidden="true")
                        .he-text Телефон
                            span +7 (123) 100 10 10
                    .he-block
                        .icon
                            i.fa.fa-map-marker(aria-hidden="true")
                        .he-text Адрес
                            span Ул. Московская, д. 1
        nav.navbar  
            .nav-container
                ul.nav-links
                    input#checkbox_toggle(type='checkbox')
                    label.hamburger(for='checkbox_toggle')
                        span.hamburger-line
                    .menu
                        li
                            a(href='/index.html') Главная
                        li
                            a(href='/feedback.html') Отзывы
                        li
                            a(href='/contacts.html') Контакты
                        li
                            a(href='/pricelist.html') Прайс-лист
                        li
                            a(href='/services.html') Услуги
                        li
                            a(href='/promo.html') Акции
            .logo-burger 
                h2 
                    a(href='/index.html') Вывоз мусора
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Контакты
            .hand_p
                h2 Контакты
                    hr
            .contacts
                h3 Телефон
                p +7 (911) 140 06 20
                a(href="https://viber.click/79111400620")
                    .viber
                        p.icon_text +7 (911) 140 06 20
                a(href="https://wa.me/79111400620?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!%20%F0%9F%91%8B")
                    .whatsapp 
                        p.icon_text +7 (911) 140 06 20
                a(href="https://t.me/+79111400620")
                    .telegram
                        p.icon_text +7 (911) 140 06 20
                h3 E-mail
                p util-prof@mail.ru
                h3 Работаем
                p Без выходных с 9:00 до 19:00 
                h3 Адрес
                p 123123, Россия, г. Санкт-Петербург, ул. Московская, д. 1
                h3 Реквизиты
                p ООО «УТИЛЬ-ПРОФ» Юридический адрес: г. Санкт-Петербург, ул. Московская, д. 1 ОГРН 5235738257923
        .parallax-sec  
            .container 
                .head-block   
                    h2 Вопросы?
                        p Отправьте заявку и мы с вами свяжемся 
                        hr.sec
                .form 
                    form.form_body(action="#" id="form")
                        .ipnut_block
                            .form_item
                                input.form_input._req(type="text" name="name" placeholder="Ваше имя")
                            .form_item
                                input.form_input._req._email(type="text" name="email" placeholder="Ваш E-mail")
                            .form_item
                                input.form_input._req(type="tel" name="phone" placeholder="Ваш телефон")
                        .form_item 
                            textarea.form_input(name="message" placeholder="Сообщение") 
                        .form_button
                            button(type="submit") Отправить
                        p.form_text Отправляя данную форму, вы соглашаетесь c 
                            a(href='/privacy.html').form_text.privacy Политикой конфиденциальности.
        .map-block 
            .container
                .head-block 
                    h2 Наш Адрес
                        p Ул. Московская, д. 1
                        hr
            #map(style='width: 100%; height: 560px')
        .footer  
            .bg-footer-top 
                .container 
                    .footer-items 
                        .foot-item 
                            span.footer-text Звоните:
                            span.footer-text +7 (123) 100 10 10
                        .foot-item 
                            span.footer-text Адрес
                            span.footer-text Ул. Московская, д. 1
                        .foot-item 
                            span.footer-text Часы работы
                            span.footer-text Без выходных с 10 до 18
                    .foot-icons
                        a(href="") 
                            img(src="/images/viber.png")
                        a(href="")
                            img(src="/images/whatsapp.svg")
                        a(href="")
                            img(src="/images/telegram.svg") 
            .bg-footer-bottom
                .container
                    h3 УТИЛЬ-ПРОФ © 2022
                    p All rights reserved
        .popup_bg 
            form.popup(action="#")
                .popup_header 
                    .close_popup 
                        i.fa.fa-times(aria-hidden="true")
                    p Мы с вами свяжемся
                label(for="#") 
                    input(type="text" name="name")
                    .label_text Ваше имя
                label(for="#") 
                    input(type="tel" name="phone")
                    .label_text Ваш телефон
                label(for="#") 
                    textarea(name="message") 
                    .label_text Ваше cообщение
                button(type="submit") Отправить