include pug/libs/_libs

html(lang='en')
    include pug/_head
    body
        include pug/_header
        include pug/_nav
        .banner
            .container 
                h1 Сделаем город чище!
                p Служба вывоза мусора
                a.btn.open_popup(href="#") Подробнее
        .container-max 
            .card_desk
                .card_item 
                    img(src="/images/card1.png")
                    .card_description
                        .card_text_top ВЫВОЗ БЫТОВОГО И СТРОИТЕЛЬНОГО МУСОРА, ХЛАМА
                        .card_text_bottom Спецтехникой
                        .card_price от 80 руб./мешок
                    a.card_button.open_popup Подробнее
                .card_item 
                    img(src="/images/card2.png")
                    .card_description
                        .card_text_top ВЫВОЗ ПИАНИНО, РОЯЛЯ, СЕЙФА
                        .card_text_bottom В зависимости от этажа и наличия лифта
                        .card_price от 1500 руб.
                    a.card_button.open_popup Подробнее
                .card_item 
                    img(src="/images/card3.png")
                    .card_description
                        .card_text_top ВЫВОЗ МАКУЛАТУРЫ И ЛОМА
                        .card_text_bottom (картона, книг, чёрных и цветных металлов) от 100 кг.
                        .card_price Бесплатно
                    a.card_button.open_popup Подробнее
                .card_item 
                    img(src="/images/card4.png")
                    .card_description
                        .card_text_top ВЫВОЗ МЕБЕЛИ
                        .card_text_bottom Принимаем мебель для реставрации в хорошем состоянии (возраст не более 5 лет).
                        .card_price Бесплатно
                    a.card_button.open_popup Подробнее
                .card_item 
                    img(src="/images/card5.png")
                    .card_description
                        .card_text_top ВЫВОЗ БЫТОВОЙ ТЕХНИКИ И ЭЛЕКТРОНИКИ
                        .card_text_bottom (принтеры, стиральные машины, системные блоки)
                        .card_price От 0 руб.
                    a.card_button.open_popup Подробнее
                .card_item 
                    img(src="/images/card6.png")
                    .card_description
                        .card_text_top ВЫВОЗ САНТЕХНИКИ, ДВЕРИ, ОКНА, НАПОЛЬНОГО ПОКРЫТИЯ
                        .card_text_bottom (принимаем ванны, колонки бойлеры и т.п.)
                        .card_price От 0 руб.
                    a.card_button.open_popup Подробнее
                //- .card_item 
                //-     img(src="/images/placeholder.png")
                //-     .card_description
                //-         .card_text_top Вывоз самосвалом
                //-         .card_text_bottom По городу Санкт-Петербург (в обасти цена выше). 
                //-         .card_price От 12500 руб. - 20 кубов, 15 тонн
                //-     a.card_button.open_popup Подробнее
                //- .card_item 
                //-     img(src="/images/placeholder.png")
                //-     .card_description
                //-         .card_text_top Дезинфекция от насекомых
                //-         .card_text_bottom Гарантия 6 месяцев от специалиста.
                //-         .card_price От 2500 руб.
                //-     a.card_button.open_popup Подробнее
                //- .card_item 
                //-     img(src="/images/placeholder.png")
                //-     .card_description
                //-         .card_text_top Вывоз/перевозка пианино, рояля.
                //-         .card_text_bottom Так же такелажных объектов (от 4000 руб.)
                //-         .card_price От 1500 руб.
                //-     a.card_button.open_popup Подробнее
                //- .card_item 
                //-     img(src="/images/placeholder.png")
                //-     .card_description
                //-         .card_text_top Демонтаж/повал деревьев
                //-         .card_text_bottom Ваш текст тут
                //-         .card_price Цена работы
                //-     a.card_button.open_popup Подробнее
        .bggrey 
            .container
                .hover-head
                    h2 Наши преимущества
                        hr
                .hand 
                    .blok_icon 
                        .icon
                            i.fa.fa-handshake-o(aria-hidden="true") 
                        h3 Чистота и аккуратность
                        p Выполняем работу, максимально стараясь не оставлять после себя пыли, грязи.
                    .blok_icon
                        .icon
                            i.fa.fa-handshake-o(aria-hidden="true") 
                        h3 Экологичность
                        p Весь вывезенный мусор мы доставляем в специально подготовленные места/утилизируем.
                    .blok_icon
                        .icon 
                            i.fa.fa-handshake-o(aria-hidden="true") 
                        h3 Демократичные цены
                        p Справедливая стоимость услуг, постоянным клиентам - скидки и акции.
                    .blok_icon 
                        .icon
                            i.fa.fa-handshake-o(aria-hidden="true") 
                        h3 Оперативность
                        p Приезжаем на место практически сразу и быстро выполняем работу.
        .container-max
            .head 
                h2 Акции
                hr
            .promo-block 
                .promo-item
                    .promo-media 
                        img(src="/images/promo1.png")
                    .block_item
                        h3
                            a(href="/pricelist.html") Скидки 10% клиентам пенсионерам
                        //- p Основным направлением деятельности компании является оказание услуг в сфере … (Укажите направление деятельности Вашей компании). Все работы осуществляются командой профессионалов, имеющих многолетний опыт
                        a.btn.open_popup(href="#") Подробнее
                .promo-item
                    .promo-media 
                        img(src="/images/promo2.png")
                    .block_item
                        h3
                            a(href="/pricelist.html") Скидки 10% постоянным заказчикам
                        //- p Основным направлением деятельности компании является оказание услуг в сфере … (Укажите направление деятельности Вашей компании). Все работы осуществляются командой профессионалов, имеющих многолетний опыт 
                        a.btn.open_popup(href="#") Подробнее
        .parallax 
            .container 
                .head-block
                    h2 О нас в цифрах
                        hr
                .block-deck
                    .block-item 
                        span 10
                        p Лет работы
                    .block-item 
                        span 5000+
                        p Довольных клиентов
                    .block-item
                        span 300+
                        p  Крупных проектов
                    .block-item 
                        span 400+
                        p Постоянных клиентов
        .container 
            .description
                h2 О нас
                p В удобное для вас время предоставим автомобиль для утилизации мусора. 
                    |Мы поможем вам избавиться от строительного мусора, ненужной мебели, техники и хлама.
                    |Бесплатно вывезем металлические двери, батареи, макулатуру и книги, стиральные и посудомоечные машины,
                    |холодильники, газовые плиты и водонагреватели, кондиционеры, швейные машины, чугунные ванны. Демонтаж производится аккуратно,
                    |учитывается состав отходов, сортируются и отправляются на специальные полигоны для захоронения.
                    |Где перерабатывают металл и макулатуру и сжигают мебель с клопами.
                    |Также мы готовы помочь Вам в переезде, доставке, дезинфекции и уборке помещений. Звоните и мы ответим на все ваши вопросы.
                //- a.btn(href="")  Подробнее
        .bggrey
            .container 
                .bor-block 
                    h3 Торопитесь, скидка 15% до конца месяца!
                    p До конца месяца, действует максимальная скидка на вывоз и утилизацию по СПБ и ЛО! 
                        | Подробности, уточняйте у нашего менеджера, или оставьте заявку, указав в тексте комментария, слово АКЦИЯ, и мы предоставим Вам - самые лучшие условия! <br> <span class="bold">Внимание:</span> акции и скидки НЕ суммируются.
                    a.btn.open_popup(href="") Хочу скидку!
        .news 
            .container 
                h2 Новости
                    hr
                .media-block 
                    .block_item 
                        img(src="#", alt="")
                        h3 
                            a(href="") Hello World!
                        span ?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum culpa dolorem, numquam aliquam voluptatum mollitia reiciendis, consequatur ratione veniam, debitis rerum perspiciatis distinctio corrupti aliquid magni nemo optio accusantium temporibus!
                        a.cont(href="") Читать далее...
                        hr
                    .block_item 
                        img(src="#", alt="")
                        h3
                            a(href="") Hello World!
                        span ?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum culpa dolorem, numquam aliquam voluptatum mollitia reiciendis, consequatur ratione veniam, debitis rerum perspiciatis distinctio corrupti aliquid magni nemo optio accusantium temporibus!
                        a.cont(href="") Читать далее...
                        hr
                    .block_item 
                        img(src="#", alt="")
                        h3
                            a(href="") Hello World! 
                        span ?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum culpa dolorem, numquam aliquam voluptatum mollitia reiciendis, consequatur ratione veniam, debitis rerum perspiciatis distinctio corrupti aliquid magni nemo optio accusantium temporibus!
                        a.cont(href="") Читать далее...
                        hr
        .bgwhite
            .container 
                .feedback 
                    h2 Отзывы
                        hr
                .feed_block 
                    .block_item 
                        .block_image
                            +image('chel1')
                        .block_info 
                            p Работаем с данной фирмой уже довольно давно. Никаких нареканий, одни положительные впечатления. Будем продолжать сотрудничество.
                            span - Владимир
                    .block_item 
                        .block_image
                            +image('chel2')
                        .block_info 
                            p Сайт понравился. Спасибо менеджерам за творческий подход! Буду рекомендовать всем друзьям и близким.
                            span - Вячеслав
                    .block_item 
                        .block_image
                            +image('chel3')
                        .block_info 
                            p Сайт просто супер. Ребята молодцы, делают свою работу на высоком уровне. Товары всегда новые, цены вполне доступные. Часто проводятся скидки, акции, что особо радует :) 
                            span - Алексей
        .bggrey
            .container 
                .head-block-glider
                    h2 Наши партнеры
                        hr
                .glider-contain
                    .glider
                        div 
                            img(src="/images/obi.png")
                        div 
                            img(src="/images/leroy.png")
                        div 
                            img(src="/images/saturn.png")
                        div 
                            img(src="/images/Metizy.png")
                        div 
                            img(src="/images/petrovich.png")
                    <div role="tablist" class="dots"></div>
        include pug/_form
        include pug/_map
        include pug/_footer
        include pug/_popup