include pug/libs/_libs
head 
    title Прайс-лист

html(lang='en')
    include pug/_head
    body
        include pug/_header
        include pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Прайс-лист
                
            table
                thead
                    tr
                        td ВЫВОЗИМ МЕБЕЛЬ
                        td руб.
                tbody
                    tr
                        td Диван книжка
                        td от 800
                    tr
                        td Диван угловой
                        td от 1500
                    tr
                        td Кресло
                        td от 200
                    tr
                        td Кресло-кровать
                        td от 500
                    tr
                        td Тумба
                        td от 300
                    tr
                        td Тумба прикроватная
                        td от 150
                    tr
                        td Шкаф купе
                        td от 1200
                    tr
                        td Кухонный гарнитур
                        td от 200
                    tr
                        td Пристенный шкаф-стенка
                        td от 800
                    tr
                        td Секретер
                        td от 700
                    tr
                        td Одностворчатый шкаф
                        td от 500
                    tr
                        td Двустворчатый шкаф
                        td от 800
                    tr
                        td Сервант
                        td от 700
                    tr
                        td Кровать 1,5-спальная
                        td от 800
                    tr
                        td Кровать 2 спальная
                        td от 1000
                    tr
                        td Матрас
                        td от 700
                    tr
                        td Прихожая
                        td от 600
                    tr
                        td Комод
                        td от 400
                    tr
                        td Столы
                        td от 300
                    tr
                        td Стулья, табуретки
                        td от 100
                    tr
                        td Окна и рамы
                        td от 300
                    tr
                        td Вывоз мебели с клопами
                        td от 2000
            table
                thead
                    tr
                        td ВЫВОЗ ПИАНИНО, РОЯЛЯ, СЕЙФА
                        td РУБ.
                tbody
                    tr 
                        td Вывоз пианино (в зависимости от этажа и наличия лифта)
                        td от 1 500 
                    tr 
                        td Вывоз рояля (в зависимости от этажа и наличия лифта)
                        td от 1 700 
            table
                thead
                    tr
                        td ВЫВОЗ БЫТОВОЙ ТЕХНИКИ И ЭЛЕКТРОНИКИ
                        td РУБ.
                tbody
                    tr 
                        td Вывоз стиральной и посудомоечной машины (Отключение 200 руб.)
                        td 0
                    tr 
                        td Вывоз телевизора и оргтехники
                        td от 300
                    tr 
                        td Вывоз газовой плиты/электроплиты (Отключение 200 руб.)
                        td 0
                    tr 
                        td Вывоз офисной оргтехники (компьютеры, мониторы и принтеры)
                        td от 200
                    tr 
                        td Вывоз холодильника 
                        td 0
                    tr 
                        td Вывоз кондиционеров
                        td 0
                    tr 
                        td Вывоз швейных машинок
                        td 0
            table
                thead
                    tr
                        td САНТЕХНИКА, ДВЕРИ, ОКНА, НАПОЛЬНЫЕ ПОКРЫТИЯ
                        td РУБ.
                tbody
                    tr 
                        td Вывоз чугунной ванны 
                        td 0
                    tr 
                        td Вывоз стальной ванны 
                        td от 400
                    tr 
                        td Вывоз газовых колонок, бойлеров 
                        td 0
                    tr 
                        td Вывоз батарей и радиаторов
                        td 0
                    tr 
                        td Окна и рамы
                        td от 500
                    tr 
                        td Дверные полотна с коробкой
                        td от 600
                    tr 
                        td Дверные полотна без коробки
                        td от 400
                    tr 
                        td Вывоз металлических дверей
                        td 0
                    tr 
                        td Ковёр, палас, линолеум, ламинат
                        td от 350
            table
                thead
                    tr
                        td ВЫВОЗ БЫТОВОГО И СТРОИТЕЛЬНОГО МУСОРА, ХЛАМА
                        td РУБ.
                tbody
                    tr 
                        td Бытовой и строительный мусор в мешках
                        td 80 / 1 мешок
                    tr 
                        td Строительный мусор (доски, плинтуса,панели, гипрок), глина, грунт, кирпич, деревья (ветви, корни, пр.)
                        td от 800 / куб.м.
            table
                thead
                    tr
                        td СПЕЦТЕХНИКА
                        td РУБ.
                tbody
                    tr 
                        td ПУХТО (27 руб.м. 20 т.)
                        td от 12 500 
                    tr 
                        td САМОСВАЛ (20 куб.м. 15 т.)
                        td от 13 000 
                    tr 
                        td Фenix BAW 4 (12 куб.м. 4 т.)
                        td от 7 000
            table
                thead
                    tr
                        td ВЫВОЗ МАКУЛАТУРЫ И ЛОМА 
                        td РУБ.
                tbody
                    tr 
                        td Вывоз макулатуры, картона, книг от 100 кг.
                        td 0
                    tr 
                        td Вывоз металлолома (черных и цветных металлов) от 50 кг.
                        td от 800 / куб.м.
            table
                thead
                    tr
                        td ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ
                        td РУБ.
                tbody
                    tr 
                        td Демонтажные работы (мебели, дверей, паркета, ламината, сантехкабины, плитки, пр.)
                        td от 500
                    tr 
                        td Проводим дезинфекцию нашим специалистом по обработке квартир от клопов, тараканов и других насекомых
                        td от 3000 / 1 комнату
                    tr 
                        td Уборка помещений (мойка окон, полов, чистка ковров, мебели, пр.)
                        td от 1000
            table
                thead
                    tr
                        td УБОРКА ДАЧНОГО УЧАСТКА
                        td РУБ.
                tbody
                    tr 
                        td Вывоз глины, земли, бой кирпича
                        td от 1 000 / куб.м.
                    tr 
                        td Повал, распил деревьев 
                        td от 1500
            table
                thead
                    tr
                        td ГРУЗОПЕРЕВОЗКИ И ДОСТАВКА
                        td РУБ.
                tbody
                    tr 
                        td Малогабаритные грузы. Газель: 2 грузчика, 2 часа
                        td от 2000 / 2 часа
                    tr 
                        td Крупногабаритные грузы (сейфы, станки, пианино, рояли, пр.)
                        td от 2500
                    tr 
                        td Такелажные работы 
                        td от 2500
                    tr 
                        td Сборка/разборка мебели при грузоперевозках, демонтаж
                        td от 500
                    tr 
                        td Доставка груза со склада
                        td от 1000
            table
                thead
                    tr
                        td СКИДКИ
                        td 
                tbody
                    tr 
                        td Пенсионерам и постоянным заказчикам
                        td 10%
                    tr 
                        td Постоянным заказчикам
                        td 10%

        include pug/_form
        include pug/_map
        include pug/_footer
        include pug/_popup