include pug/libs/_libs
head 
    title Прайс-лист

html(lang='en')
    include pug/_head
    body
        include pug/_header
        include pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container 
            .second-nav 
                a(href='/index.html') Главная
                span /
                a(href="") Прайс-лист
                
            table
                thead
                    tr
                        td ВЫВОЗИМ МЕБЕЛЬ
                        td руб.
                tbody
                    tr
                        td Диван книжка
                        td от 800
                    tr
                        td Диван угловой
                        td 1500
                    tr
                        td Кресло
                        td от 200
                    tr
                        td Кресло-кровать
                        td от 500
                    tr
                        td Тумба
                        td от 300
                    tr
                        td Тумба прикроватная
                        td от 150
                    tr
                        td Шкаф купе
                        td от 1200
                    tr
                        td Кухонный гарнитур
                        td от 200
                    tr
                        td Пристенный шкаф-стенка
                        td от 800
                    tr
                        td Секретер
                        td от 700
                    tr
                        td Одностворчатый шкаф
                        td от 500
                    tr
                        td Двустворчатый шкаф
                        td от 800
                    tr
                        td Сервант
                        td от 700
                    tr
                        td Кровать 1,5-спальная
                        td от 800
                    tr
                        td Кровать 2 спальная
                        td от 1000
                    tr
                        td Матрас
                        td от 400
                    tr
                        td Прихожая
                        td от 600
                    tr
                        td Комод
                        td от 400
                    tr
                        td Столы
                        td от 300
                    tr
                        td Стулья, табуретки
                        td от 100
                    tr
                        td Окна и рамы
                        td 300
                    tr
                        td Вывоз мебели с клопами
                        td от 2000
            table
                thead
                    tr
                        td ВЫВОЗИМ БЫТОВУЮ И оргтехникУ
                        td руб.
                tbody
                    tr
                        td Вывоз телевизора и оргтехники
                        td от 300
                    tr
                        td Отключение техники
                        td 200
                    tr
                        td Вывоз офисной оргтехники (компьютеры, мониторы и принтеры)
                        td от 200
                    tr
                        td Вывоз стиральной и посудомоечной машины
                        td 0
                    tr
                        td Вывоз газовой плиты/электроплиты
                        td 0
                    tr
                        td Вывоз холодильника
                        td 0
                    tr
                        td Вывоз кондиционеров
                        td 0
                    tr
                        td Вывоз швейных машинок
                        td 0
            table
                thead
                    tr
                        td ВЫВОЗИМ ДВЕРИ
                        td руб.
                tbody
                    tr
                        td Дверные полотна с коробкой
                        td от 500
                    tr
                        td Дверные полотна без коробки
                        td от 300
                    tr
                        td Вывоз металлических дверей
                        td 0
            table
                thead
                    tr
                        td Вывозим пианино / рояль
                        td руб.
                tbody
                    tr
                        td Вывоз пианино (в зависимости от этажа и наличия лифта)
                        td от 1500
                    tr
                        td Вывоз рояля (в зависимости от этажа и наличия лифта)
                        td от 1700
                    tr
                        td Перевозка пианино (в зависимости от этажа и наличия лифта)
                        td от 4000
            table
                thead
                    tr
                        td ВЫВОЗ БЫТОВОГО И СТРОИТЕЛЬНОГО МУСОРА
                        td руб.
                tbody
                    tr
                        td Бытовой и строительный мусор в мешках
                        td 80 руб./1 мешок
                    tr
                        td Строительный мусор (досок, гипрока, фанеры, минваты, потолка Армстронг)
                        td от 800 руб./ куб.м.
            table 
                thead 
                    tr 
                        td вывозим ванны
                        td руб.
                tbody 
                    tr 
                        td Вывоз чугунной ванны
                        td 0
                    tr 
                        td Вывоз стальной ванны
                        td от 400
            table
                thead
                    tr
                        td ГРУЗОПЕРЕВОЗКИ
                        td руб.
                tbody
                    tr
                        td Малогабаритные: Газель, 2 грузчика, 2 часа
                        td 2000 / 2 часа
                    tr
                        td Крупногабаритные грузы (сейфы, станки, пианино, рояли, пр.)
                        td от 2500
                    tr
                        td Сборка/разборка мебели при грузоперевозке
                        td от 1000
                    tr
                        td Доставка со склада
                        td от 1000
            table
                thead
                    tr
                        td Дополнительно
                        td руб.
                tbody
                    tr
                        <td><b>УБОРКА ПОМЕЩЕНИЙ:</b> мойка окон, полов, чистка ковров, мебели, пр</td>
                        td от 1000
                    tr
                        <td><b>ПРОВОДИМ ДЕЗИНФЕКЦИЮ</b> от клопов нашим специалистом по обработке квартир от клопов, тараканов и других насекомых</td>
                        td от 2500/1 комнату
                    tr
                        <td><b>ДЕМОНТАЖНЫЕ РАБОТЫ</b> (демонтаж мебели, дверей, паркета, ламината, сантехкабины, плитки, пр.)</td>
                        td от 1000
            table
                thead
                    tr
                        td Бесплатно
                        td  руб.
                tbody
                    tr
                        td Вывоз металлических дверей
                        td 0
                    tr
                        td Вывоз батарей и радиаторов
                        td 0
                    tr
                        td Вывоз макулатуры и книг от 100 кг.
                        td 0
                    tr
                        td Вывоз стиральной и посудомоечной машины
                        td 0
                    tr
                        td Вывоз газовой плиты/электроплиты
                        td 0
                    tr
                        td Вывоз холодильника
                        td 0
                    tr
                        td Вывоз кондиционеров
                        td 0
                    tr
                        td Вывоз швейных машинок
                        td 0
                    tr
                        td Вывоз чугунной ванны
                        td 0
                    tr
                        td Вывоз газовых колонок
                        td 0


        include pug/_form
        include pug/_map
        include pug/_footer
        include pug/_popup