include pug/libs/_libs
head 
    title Акции

html(lang='en')
    include pug/_head
    body
        include pug/_header
        include pug/_nav
        .banner-second
            .container 
                h1 Вывоз мусора
                a.btn.open_popup(href="#") Подробнее
        .container
            .second-nav
                a(href='/index.html') Главная
                span /
                a(href="") Акции
            .hand_p
                h2 Акции
                    hr
            .promo-block
                .promo-item
                    .promo-media
                        img(src="/images/placeholder.png")
                    .block_item
                        h3
                            a(href="/pricelist.html") Скидки 10% клиентам пенсионерам
                        //- p Основным направлением деятельности компании является оказание услуг в сфере … (Укажите направление деятельности Вашей компании). Все работы осуществляются командой профессионалов, имеющих многолетний опыт
                        a.btn.open_popup(href="#") Подробнее
                .promo-item
                    .promo-media
                        img(src="/images/placeholder.png")
                    .block_item
                        h3
                            a(href="/pricelist.html") Скидки 10% постоянным заказчикам
                        //- p Основным направлением деятельности компании является оказание услуг в сфере … (Укажите направление деятельности Вашей компании). Все работы осуществляются командой профессионалов, имеющих многолетний опыт
                        a.btn.open_popup(href="#") Подробнее
        include pug/_form
        include pug/_map
        include pug/_footer
        include pug/_popup